/*qiulinhe:2016年11月7日13:48:26*/
/* dataTables列内容居中 */
.table > tbody > tr > td {
    text-align: center !important;
}

/* dataTables表头居中 */
.table > thead:first-child > tr:first-child > th {
    text-align: center !important;
    font-weight: 800 !important;
    background: none !important;
}

.table > tbody > tr:hover {
    background-color: #1ab394!important;
}

.table-bordered-user td, .table-bordered-user th {
    border: 1px solid #D2D6DE !important;
}

.form-control {
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}

.modal-content {
    border-radius: 4px !important;
}

.form-control{
    font-size:15px !important;
    padding-top:3px !important;
}

.table.dataTable thead > tr > th {
	padding-right: 0;
}
