.companyManagement{
	border-radius: 3px;
	/*background: #ffffff;*/
	box-sizing: border-box;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
h3.box-title{
	height: 30px;
	line-height:30px!important;
	font-weight: bold;
	margin-left: 24px!important;
}
.form-textarea{
	width: 100%;
}
.textarea-head{
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; 
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 700;
    margin-left: 40px;
}
.textarea-content{
	margin: 0 2% 0 16%;
}
.textarea-content textarea{
	width: 100%;
	text-indent: 16px;
}
